<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Top navbar example for Bootstrap</title>

    {% include "head_css.html" %}
  </head>

  <body>

    {% include "navbar.html" %}
    <div class="container">
        {% block jumbotron %}
        {% endblock %}
        {% block content %}
        {% endblock %}
    </div>


    {% include "footer_js.html" %}
  </body>
</html>
